/************/
.loginPageContainer {
  padding: 1rem 0.5rem;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #457b9d;
}

.contentBox {
  padding: 2rem 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 350px;
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: 4px 4px 8px #000;
}

.contentBox>.formBox {
  position: relative;
  width: 100%;
}

.contentBox .formBox .formBoxAvatar {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contentBox .formBox .formBoxAvatar .bi {
  font-size: 150px;
}

.contentBox .formBox .formBoxAvatar img {
  width: 150px;
}

.contentBox .formBox .formBoxAvatar .bi-person-circle::before {
  background: #457b9d;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--white-color);
}

.contentBox .formBox .login-form {
  position: relative;
  margin-top: 50px;
}

.contentBox .formBox .login-form button[type="submit"] {
  background: var(--primary-color);
  color: var(--white-color);
}


.contentBox .formBox .login-form .show-pass {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, 20%);
  cursor: pointer;
}

.astrisk {
  position: absolute;
  top: 10%;
  left: 10px;
}

.btn-close-alert {
  position: absolute;
  left: 5%;
}